.section-advantages {
    position: relative; 
    display: flex;
    min-height: 500px;
    flex-direction: column;
    align-items: center; 
    padding-top: 58px; 
}

.header-advantages {
    width: 582px;
    height: 120px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cards-advanages {
    display: flex;
    width: 1296px;
    height: 223px;
    margin: 0px auto;
    gap: 20px;
    justify-content: center;
}

.card-adv{
    border: 1px solid gray;
    width: 250px;
    padding: 20px;
}

.image-element{
    width: 50px;
    height: 50px;
}


.header-advantages p {
    margin-bottom: 5px; 
}

.header-advantages h2 {
    margin-top: 5px; 
}

.button-advantages{
    display: flex;
    width: 180px;
    height: 44px;
    border: 1px solid #E3C37A;
    background-color: white;
    justify-content: center;
    align-items: center; 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-top: 58px; 
}

.button-advantages:hover{
    border-color: #c0a05c;
    color: #333; 
    cursor: pointer;
}

@media (max-width: 480px) {
    .section-advantages {
        padding-top: 30px;
    }
    .header-advantages {
        width: 100%;
        height: auto;
        padding: 0 15px;
    }
    .cards-advanages {
        width: 92%;
        padding: 15px;
        height: auto;
        justify-content: flex-start;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .card-adv {
        flex: 0 0 auto; 
    }

    .button-advantages{
        margin-bottom: 30px;
    }
}