.advantages {
    position: relative; 
    display: flex;
    min-height: 500px;
    flex-direction: column;
    align-items: center; 
    padding-top: 58px; 
}

.advantages__header {
    width: 582px;
    height: 120px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    text-align: center;
}

.advantages__grid {
    display: flex;
    width: 1296px;
    height: 223px;
    margin: 0px auto;
    gap: 20px;
    justify-content: center;
}

.advantages__card{
    border: 1px solid gray;
    width: 250px;
    padding: 20px;
}

.advantages__card__icon{
    width: 50px;
    height: 50px;
}


.advantages__header p {
    margin-bottom: 5px; 
}

.advantages__header h2 {
    margin-top: 5px; 
}

.advantages__button{
    display: flex;
    width: 180px;
    height: 44px;
    border: 1px solid #E3C37A;
    background-color: white;
    justify-content: center;
    align-items: center; 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-top: 58px; 
    cursor: pointer;
}

.button-advantages:hover{
    border-color: #c0a05c;
    color: #333; 
    cursor: pointer;
}

.advantages__card__header{
    font-weight: 300;
}

.advantages__card__text{
    font-size: small;
    font-weight: 200;
}

@media (max-width: 480px) {
    .advantages {
        padding-top: 30px;
    }
    .advantages__header {
        width: 100%;
        height: auto;
        padding: 0 15px;
    }
    .advantages__gird {
        width: 92%;
        padding: 15px;
        height: auto;
        justify-content: flex-start;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .advantages__card {
        flex: 0 0 auto; 
    }

    .advantages__button{
        margin-bottom: 30px;
    }
}