.director {
    position: relative; 
    display: flex;
    height: 500px; 
    background-color: rgb(237, 236, 236);
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.line {
    width: 5vh;
    height: 1px;
    background-color: #B1B1B1; 
    margin: 5px 0;
}

.director_header h2 {
    margin-top: 0; 
    margin-bottom: 0;
}

.line__container {
    display: flex;
    align-items: center;
    gap: 10px; 
    font-size: 12px;
}

.line__word {
    color: #B1B1B1;
}

.director__content {
    position: relative;
    display: flex;
    left: 50%;
    top: 50px;
    flex-direction: column;
    width: 600px; 
    height: 400px;
    box-sizing: border-box; 
}

.director__text {
    width: 440px;
    margin-top: 10px; 
    font-size: 14px; 
    line-height: 1.5; 
    font-weight: 300;
}

.director__about{
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.director_name{
    font-size: 14px;  
    line-height: 1.5;
    font-weight: 300;
}

.signa__image{
    display: flex;
    position: absolute;
    right: 30px;
    width: 235px;
    height: 170px;
    bottom: 10px;
    background-color: rgb(231, 231, 231);
    z-index: 1;
}

.qoute__first{
    display: flex;
    position: absolute;
    color: #B1B1B1;
    font-weight: 200;
    font-size: 100px;
    left: -100px;
    bottom: 0;
    margin: 0
}

.qoute__second{
    display: flex;
    position: absolute;
    color: #B1B1B1;
    font-weight: 200;
    font-size: 100px;
    right: 100px;
    top: 20px;
    margin: 0
}

.director__image{
    position: absolute;
    left: 0;
    top: 0;
    width: 515px;
    height: 100%;
}

.director__back{
    position: absolute;
    height: 100%;
    width:376px;
    background-color: #E3C37A ;
    z-index: 2;
}

.diretor__face{
    position: absolute;
    left: 150px;
    top: 40px;
    width:330px;
    height: 460px;
    z-index: 3;
}

@media (max-width: 480px) {
    .director{
        height: 300px;
    }

    .director__back{
        display: none;
    }

    .qoute__first, .qoute__second{
        display: none;
    }
    .director__image{
        z-index: 1;
    }

    .director__content{
        left: 0;
        top: 0; 
        z-index: 2;
        box-sizing: border-box;
        height: 300px;
        padding: 5px;
        width: 100%;
    }

    .diretor__face{
        display: none;
    }

    .signa__image{
        width: 30%;
        height: 30%;
        right: 2%;
        bottom: 2%;
    }

    .director__about{
        padding: 5px;
    }
}