<header class="main-header">
    <div class="header-top text-mini">
        <p class="main-header-logo">L | R</p>
        <nav>
            <ul class="text-mini">
                <li><a href="#home">Главная</a></li>
                <li><a href="#services">Услуги</a></li>
                <li><a href="#convoy">Сопровождение</a></li>
                <li><a href="#useful">Полезное</a></li>
                <li><a href="#company">О компании</a></li>
                <li><a href="#contact">Контакты</a></li>
            </ul>
        </nav>
        <p class="main-header-phone">+7 (999) 890 09 98</p>
    </div>
    <div class="header-line"></div>
    <div class="stats-container">
        <div class="stat-item">
            <span class="stat-value">89%</span>
            <span class="stat-label">Выигранных дел</span>
        </div>
        <div class="stat-item">
            <span class="stat-value">34</span>
            <span class="stat-label">Сотрудников в штате</span>
        </div>
        <div class="stat-item">
            <span class="stat-value">18</span>
            <span class="stat-label">Лет на рынке</span>
        </div>
    </div>
    <div class="consultation-container">
        <p class="consultation-title">НУЖНА КОНСУЛЬТАЦИЯ?</p>
        <div class="consultation-form">
            <input type="tel" class="phone-input" placeholder="+7(___) ___ __ __">
            <button class="callback-button">Заказать звонок</button>
        </div>
    </div>
    <div class="statue-container">
        <div class="statue-form">
            <img class="statue-image" src="../components/image/statue.png">
        </div>
        <img class="list1-image" src="../components/image/list1.png">
        <img class="list2-image" src="../components/image/list2.png">
        <img class="list3-image" src="../components/image/list3.png">
    </div>
    <div class="head">
        <h1>РЕШИМ ЛЮБОЙ ПРАВОВОЙ ВОПРОС</h1>
        <p>Помощь в решении любого правового вопроса в вашу пользу</p>
    </div>
    </header>